.friends_display_link {
    text-align: center;
    display: block;
    background-color: var(--gray);
    padding: 15px 0px;
    margin-top: -15px;
}

.friends_display_link i {
    color : rgba(0, 0, 0, 0.3);
}



.friends_screen__channel {
    margin-top: 25px;
    border-top: var(--bot_border);
    padding-top: 15px;
}

.friends_screen__channel_header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
    
}

@keyframes hideSplashScreen {
    from{
        opacity: 1.0;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash_screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}
