.more_screen .icons_row {
    margin-top: 50px;
}

.more_suggestions{
    margin-top: 50px;
    border-top: var(--bot_border);
    padding-top :40px;
}

.more_suggestions__title {
    margin-bottom: 30px;
}

.more_suggestions__icons {
    display: flex;

}

.more_suggestions__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more_suggestions__icon_image {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.more_suggestions__icon_image i {
    font-size : 32px;
    color: white;
}

.more_suggestions__title{
    font-weight: 600;
}
.more_suggestions__icon_text {
    font-size: 15px;
    color : rgba(0,0,0,0.8);
}