.badge {
    color: white;
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    display: flex;    
    font-weight: 400;
    align-items: center;

}

.badge_sm{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: flex;    
    position: absolute;
    right: -5px;
    bottom: 25px;
    
    
}