.icons_row {
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 25px;
}

.icons_row__icon{
    display : flex;
    flex-direction: column;
    align-items: center;
    
}
.icons_row__icon i {
    font-size: 35px;

 }

 .icons_row__icon span {
    margin-top: 15px;

 }