.navi {
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navi__list {
    display: flex;
    justify-content: space-between;
    
}

.navi__link {
    color: #2e363e;
    position: relative;
}

@keyframes notiAnimation{
    0%{
        transform:none;
    }
    50%{
        transform:translateY(-5px);

    }
    100%{
        transform:none;
    }
}
.navi_noti {    
    position: absolute;    
    left: 20px;
    bottom: 15px;
    animation: notiAnimation 2s ease-in-out infinite;
}

.navi_new {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

@keyframes appearButton{
    from{
        transform: translateY(80px);
        opacity: 0;

    }
    to{
        transform: none;
        opacity: 1;
    }
}

.navi__btn {
    transform: translateY(50px);
    opacity: 0;
    animation: appearButton 0.3s ease-in-out forwards;    
}

.navi__btn:nth-child(2){
    animation-delay: 0.25s;
}
.navi__btn:nth-child(3){
    animation-delay: 0.5s;
}
.navi__btn:last-child{
    animation-delay: 0.75s;
}