.status_bar {
    display: flex;
    justify-content: center;    
    padding: 5px 3px;
    position: fixed;
    top: 0;
    width : 100%;
}

.status_bar__column {
    width: 33%;
    
}
.status_bar__column:first-child span{
    margin-right : 2px;
}
.status_bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status_bar__column:last-child{
    display: flex;
    justify-content: flex-end;
}
.status_bar__column:last-child  span {    
    margin-left : 2px;
    margin-right : 2px;
}